server.port=8080

spring.datasource.url=jdbc:mysql://127.0.0.1/websys?useUnicode=true&characterEncoding=utf-8&serverTimezone=UTC&useSSL=true
spring.datasource.username=
spring.datasource.password=
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
# Hibernate ddl: create, create-drop, validate, update
spring.jpa.hibernate.ddl-auto=create-drop
spring.datasource.initialization-mode=always
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL5InnoDBDialect
spring.jpa.show-sql=true

spring.servlet.multipart.enabled=true
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=15MB

upload.path=.//upload//

security.jwt.token.secret-key = ILoveMyJob
# 30000 = 5 minutes
security.jwt.token.expire-length = 300000


# Redis configuration
# database index (default 0)
spring.redis.database=0
# server host
spring.redis.host=127.0.0.1
# server password
#spring.redis.password=
#connection port
spring.redis.port=6379
# pool settings ...
spring.redis.pool.max-active=8
spring.redis.pool.max-wait=-1
spring.redis.pool.max-idle=8
spring.redis.pool.min-idle=0
# timeout (ms)
spring.redis.timeout=5000

# Elasticsearch configuration
# cluster name should match with the "cluster_name" on http://127.0.0.1:9200/
spring.data.elasticsearch.cluster-name=elasticsearch_win
spring.data.elasticsearch.cluster-nodes=127.0.0.1:9300
spring.data.elasticsearch.repositories.enable=true

